*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: darkcyan;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.main{

  height: 300px;
}
.main input {
  height: 40px;
  width: 240px;
  border: none;
  border-radius: 8px;
  padding: 3px 0 0 20px;
  outline: none;
  font-size: 18px;

}
.main input::placeholder{
  font-size: 18px;
}
.main h2{
  margin-top: 10px;
  padding:0 0 15px 20px;

}
.main .addBtn,.subBtn{
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 22px;
  margin-left: 20px;
}
.main .addBtn {
  background-color: rgb(28, 207, 28);
}
.main .subBtn {
  background-color:rgb(236, 28, 28); 
}